<div class="d-flex justify-content-between border-bottom">
  <h1>cocktails</h1>
  <%= link_to 'New cocktail', new_cocktail_path, class: "btn btn-primary" %>
</div>


<!-- <%= cl_image_tag("https://res.cloudinary.com/dlspzrlvr/image/upload/v1585915731/jaisxdtanlcmyru2y3of.jpg", alt: "Coucou",
      width: 400, height: 300, crop: :fill) %> -->

<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @cocktails.each do |cocktail| %>
          <div class="card-category">
            <h3> <%= cocktail.name %> </h3>
          </div>
          <div class="card-tags">
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 100, width: 100, crop: :fill %>
          <% end %>
            <span><%= link_to 'Show', cocktail, class: "btn btn-link" %></span>
          </div>
  <% end %>
      </div>
    </div>
  </div>
</div>
