<div class="d-flex justify-content-between border-bottom">
  <h1>cocktails</h1>
  <%= link_to 'New cocktail', new_cocktail_path, class: "btn btn-primary" %>
</div>


<!-- <%= cl_image_tag("https://res.cloudinary.com/dlspzrlvr/image/upload/v1585915731/jaisxdtanlcmyru2y3of.jpg", alt: "Coucou",
      width: 400, height: 300, crop: :fill) %> -->

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= cocktail.name %></td>
      <%= image_tag "", width: 100 %></td>
      <%= link_to 'Show', cocktail, class: "btn btn-link" %></td>
    </li>
  <% end %>
</ul>
